// COLORS

$color-primary: #05C0BA;
$color-primary-dark: #01a09b;
$color-secondary: #FCFCFC;

$color-white: #fff;
$color-black: #000;
$color-grey: #F7F5F5;

//PADDING
$padding-small: 2rem;

// FONT COLORS

$font-color: #383737;
